*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eeee;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}
td {
    color: wheat;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    border-radius: 6px;
    background-color: black;
    box-shadow: 2px 2px 5px;
}
button{
    font-size: medium;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(113, 234, 155);
}
#winner{
    background-color: red;
    color: white;
}
h4{
    font-weight: bolder;
    font-size: larger;
    color: rgb(242, 3, 218);
}
h1{
    font-size: 2.5rem;
    color: rgb(243, 83, 109);
}